:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field-wrapper {
  padding: 15px;

  background-color: #baac9f;

  border-radius: 6px;
}

.field {
  position: relative;
}

.grid-row {
  display: flex;
  flex-direction: row;
}

.grid-tile {
  box-sizing: border-box;
  display: flex;
  padding: 4px;
  .fill {
    background: #ccc0b3;
    border-radius: 4px;
    flex-grow: 1;
  }
}

.tile {
  border-radius: 4px;
  box-sizing: border-box;
  color: #371722;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  padding: 4px;
  position: absolute;
  .fill {
    border-radius: 4px;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &.-color-2 {
      background: #ede3da;
    }
    &.-color-4 {
      background: #ede0c8;
    }
    &.-color-8 {
      background: #f2b179;
      color: white;
    }
    &.-color-16 {
      background: #f59563;
      color: white;
    }
    &.-color-32 {
      background: #f67c5f;
      color: white;
    }
    &.-color-64 {
      background: #f65e3b;
      color: white;
    }
    &.-color-128 {
      background: #eecc61;
      color: white;
    }
    &.-color-256 {
      background: #eecc61;
      color: white;
    }
    &.-color-512 {
      background: #eecc61;
      color: white;
    }
    &.-color-1024 {
      background: #eecc61;
      color: white;
    }
    &.-color-2048 {
      background: #eecc61;
      color: white;
    }
    &.-color-4096 {
      background: #eecc61;
      color: white;
    }
    &.-color-8192 {
      background: #eecc61;
      color: white;
    }
  }
}
